body{
    background-image: url("../img/login/背景.png");
    z-index: -1;
}
#user{
    height: 853px;
    width: 853px;
    margin: 0 auto;
    margin-top:5%;
    background-image: url("../img/login/矩菱形背景.png");
}
#login{
    width:100%;
}
.header{
    border:1px solid red;
    padding:25px;
}
.font{
    color:#fff;
}
.logo div{
    float:left;
}